<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">University:</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae diam vel leo commodo laoreet. Aliquam pellentesque arcu leo, eget lobortis tortor sagittis non. Quisque lorem massa, molestie eu nunc vitae, aliquet volutpat arcu.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Information:</h5>
        <ul>
          <li><%= link_to "About", about_path, class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Contact us", contact_path, class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Help", help_path, class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 University
    </div>
  </div>
</footer>